/Saved*
/Intermediate*
VaccineAssets_01/Intermediate/CachedAssetRegistry.bin
VaccineAssets_01/Saved/AutoScreenshot.png
VaccineAssets_01/Saved/Config/Windows/Compat.ini
VaccineAssets_01/Saved/Config/Windows/DeviceProfiles.ini
VaccineAssets_01/Saved/Config/Windows/Editor.ini
VaccineAssets_01/Saved/Config/Windows/EditorPerProjectUserSettings.ini
VaccineAssets_01/Saved/Config/Windows/Engine.ini
VaccineAssets_01/Saved/Config/Windows/Game.ini
VaccineAssets_01/Saved/Config/Windows/GameUserSettings.ini
VaccineAssets_01/Saved/Config/Windows/Hardware.ini
VaccineAssets_01/Saved/Config/Windows/Input.ini
VaccineAssets_01/Saved/Config/Windows/Lightmass.ini
VaccineAssets_01/Saved/Config/Windows/LiveLink.ini
VaccineAssets_01/Saved/Config/Windows/MagicLeap.ini
VaccineAssets_01/Saved/Config/Windows/MagicLeapLightEstimation.ini
VaccineAssets_01/Saved/Config/Windows/MotoSynth.ini
VaccineAssets_01/Saved/Config/Windows/Niagara.ini
VaccineAssets_01/Saved/Config/Windows/OculusVR.ini
VaccineAssets_01/Saved/Config/Windows/Paper2D.ini
VaccineAssets_01/Saved/Config/Windows/PhysXVehicles.ini
VaccineAssets_01/Saved/Config/Windows/PostSplashScreen.ini
VaccineAssets_01/Saved/Config/Windows/RuntimeOptions.ini
VaccineAssets_01/Saved/Config/Windows/Scalability.ini
VaccineAssets_01/Saved/Config/Windows/Synthesis.ini
VaccineAssets_01/Saved/Config/Windows/UnrealInsightsSettings.ini
VaccineAssets_01/Saved/Config/Windows/VariantManagerContent.ini
VaccineAssets_01/Saved/Logs/VaccineAssets_01-backup-2022.01.06-11.14.50.log
VaccineAssets_01/Saved/Logs/VaccineAssets_01-backup-2022.01.06-14.56.32.log
VaccineAssets_01/Saved/Logs/VaccineAssets_01.log
